<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Акция</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="home">
		<section class="first">
            <div class="first-container">
                <div class="first-left">
                    <p class="home-bold">с 7 по 27 октября</p>
                    <p class="home-regular"> прими участие в конкурсе</p>
                    <p class="home-bold"> «Я - самая красивая невеста!»</p>
                    <button class="first-btn btn">
					<span class="first-icon">
						<img src="img/check.png" alt="" class="first-icon">
						<img src="img/star.png" alt="" class="first-icon-star">
					</span>
                        участвовать
                    </button>
                </div>
            </div>
		</section>
		<section class="second">
			<div class="second-left">
				<div class="second-left-top">
					<p class="home-bold"> Выиграй <span class="home-regular"> отличный </span> бокс белья <br> для «особых случаев»</p>
				</div>
				<div class="second-left-down">
					<p class="home-bold second-bold"> Призы за 2 и 3 место -  <br><span class="home-regular"> комплекты белья I Like </span></p>
					<img src="img/gift-silver.png" alt="" class="second-left-img">
				</div>
			</div>
			<div class="second-right">
				<div class="second-right-gift">
					<img src="img/gift.png" alt="" class="second-right-img">
				</div>
				<div class="second-right-col">
					<div class="second-right-row">
						<p class="second-text">супер-хит бюстгальтер<br>Wonderbra</p>
                        <div class="second-right-linen">
                            <img src="img/little-img-1.jpg" alt="белье">
                        </div>
					</div>
					<div class="second-right-row">
						<p class="second-text">трусики-слип<br>I Like </p>
                        <div class="second-right-linen">
                            <img src="img/little-img-2.jpg" alt="белье">
                        </div>
					</div>
					<div class="second-right-row">
						<p class="second-text">чулки<br>Pretty Polly</p>
                        <div class="second-right-linen">
                            <img src="img/little-img-3.jpg" alt="белье">
                        </div>
					</div>
				</div>

			</div>
		</section>
		<a href="#" class="third">
			<p class="third-link">Правила акции</p>
		</a>
		<section class="fourth">
			<p class="home-bold fourth-title">Условия конкурса</p>
			<div class="fourth-row">
				<div class="fourth-flex">
					<p class="fourth-place">1</p>
					<div class="fourth-col">
						<p class="fourth-name">Загрузи</p>
						<p class="fourth-text">
							<span class="fourth-bold">с 7 по 27 октября 2019 г </span> загрузи свое <br>лучшее свадебное  фото на сайт
						</p>
						<p class="fourth-span">* Ознакомся с правилами</p>
					</div>
				</div>
				<div class="fourth-block">
					<div class="fourth-block-pink">
						<img src="img/img_1.png" alt="" class="fourth-img-one">
					</div>
				</div>
			</div>
            <div class="fourth-row">
                <div class="fourth-flex">
                    <p class="fourth-place">2</p>
                    <div class="fourth-col">
                        <p class="fourth-name">Пригласи</p>
                        <p class="fourth-text">
                            всех своих знакомых проголосовать за тебя на этой странице в период с <span class="fourth-bold"> 28 октября по 17 ноября </span>
                        </p>
                        <p class="fourth-span"></p>
                    </div>
                </div>
                <div class="fourth-block">
                    <div class="fourth-block-pink">
                        <img src="img/img_2.png" alt="" class="fourth-img-two">
                    </div>
                </div>
            </div>
            <div class="fourth-row">
                <div class="fourth-flex">
                    <p class="fourth-place">3</p>
                    <div class="fourth-col">
                        <p class="fourth-name">Выиграй</p>
                        <p class="fourth-text">
                            Три девушки, набравшие самое большое количество голосов,  получат отличные призы с нижнем бельем!
                        </p>
                        <p class="fourth-span"></p>
                    </div>
                </div>
                <div class="fourth-block">
                    <div class="fourth-block-pink">
                        <img src="img/gift.png" alt="" class="fourth-img-tree">
                    </div>
                </div>
            </div>
		</section>
        <section class="fifth">
            <div class="fifth-mid">
                <p class="fifth-title">Дополнительный  приз</p>
                <p class="fifth-text">
                    будет разыгран по итогам голосования в <br>
                    <span class="fifth-span">
                     Инстаграм в нашем аккаунте
                        <span class="fifth-bold"> @i_like_lingerie</span>
                    </span>
                </p>
            </div>
            <img src="img/phone.png" alt="" class="fifth-img">
        </section>
        <section class="sixth">
            <p class="sixth-title">В конкурсе уже участвуют</p>
            <div class="sixth-flex">
                <div class="sixth-item">
                    <img src="img/img_4.jpg" alt="" class="sixth-img">
                    <div class="sixth-content">
                        <p class="sixth-name">Анна павлова, 25 лет,<br>
                            г. москва</p>
                        <p class="sixth-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut accusantium doloremque laudantium, totam rem quia voluptas sit aspernatur aut odit aut
                        </p>
                    </div>
                    <a href="#" class="sixth-link btn">
                        <img src="img/heart.png" alt="heart" class="sixth-link-icon">
                    </a>
                </div>
                <div class="sixth-item">
                    <img src="img/img_4.jpg" alt="" class="sixth-img">
                    <div class="sixth-content">
                        <p class="sixth-name">Анна павлова, 25 лет,<br>
                            г. москва</p>
                        <p class="sixth-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut accusantium doloremque laudantium, totam rem quia voluptas sit aspernatur aut odit aut
                        </p>
                    </div>
                    <a href="#" class="sixth-link btn">
                        <img src="img/heart.png" alt="heart" class="sixth-link-icon">
                    </a>
                </div>
                <div class="sixth-item">
                    <img src="img/img_4.jpg" alt="" class="sixth-img">
                    <div class="sixth-content">
                        <p class="sixth-name">Анна павлова, 25 лет,<br>
                            г. москва</p>
                        <p class="sixth-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut accusantium doloremque laudantium, totam rem quia voluptas sit aspernatur aut odit aut
                        </p>
                    </div>
                    <a href="#" class="sixth-link btn">
                        <img src="img/heart.png" alt="heart" class="sixth-link-icon">
                    </a>
                </div>
            </div>
            <button class="sixth-btn btn">
					<span class="first-icon">
						<img src="img/check.png" alt="" class="first-icon">
						<img src="img/star.png" alt="" class="first-icon-star">
					</span>
                показать еще
            </button>
        </section>
	</div>

</body>
</html>
